# Created by https://www.gitignore.io/api/r,osx,c++
### C++ ###
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
### R ###
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# End of https://www.gitignore.io/api/r,osx,c++
.Rproj.user
.Rbuildignore
fastLink.Rproj
names.csv
Name match 1.csv
Name match 2.csv
Record Linkage Workflow Part 1.docx
Record Linkage Workflow Part 2.Rmd
Record Linkage Workflow Part 3.docx
devel.env.RData
filled F-curves.Rdata
gammalist_2019-08-05 173734.zip
gammalist_2019-08-05 173906.zip
gammalist_2019-08-05 184244.zip
gammalist_2019-08-05 191157.zip
gammalist_2019-08-05 192513.zip
gammalist_2019-08-05 193611.zip
gammalist_2019-08-06 012136.zip
messy_names.csv
primes.csv
primes.txt
